.slide{
  background-color: black;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  
  
}

.box{
  background-color: blue;
  display:inline-flex;
  cursor: pointer;
  font-size: 3em;
  padding: 10px;
  margin:20px;
  border-radius:25%;
  transition: background 5s, transform 5s;
  
  
}

.transition-box-right {
    transform: translatex(calc(100vw - 170px));
}

.transition-box-left {
    transform: translatex(0px);
}
